.signup {
    margin: 3rem auto;
    width: 75%;
    max-width: 20rem;
    height: 15rem;
    border-radius: 6px;
    background-color: #88dfdf;
    box-shadow: 1px 1px 4px rgba(7, 7, 7, 0.2);
    padding: 1rem;
    text-align: center;
    justify-items: space-between;
    
  }
  .inputitems{
      margin-bottom: 0.5rem;
  }
  .input {
    font: inherit;
    color: black;
    background-color: #68d4d4;
    border: none;
    align-items: center;
    width: 95%;
    text-align: left;
    padding: 0.3rem;
    justify-content: space-around;
  }
  .msgbox {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    background-color: #008080;
    max-width: 20rem;
    border-radius: 6px;
  }
  .msgbox button{
      background-color: transparent;
      border: none;
  }
  
  .btn{
      color: white;
      background-color: #008080;
      border-radius: 5px;
      border:none;
      width: 100%;
      height: 40px;
      cursor: pointer;
      font-size: medium;
  }
  